body{
    background-image: url(redflag.jpg);
    background-size:100%;
    overflow-x: hidden;
   
}
.header{
    height:80px;
    width: 100%; 
    background-color:black; 
    padding: 20px;
    display: inline-block;
}
.headerleft{
    float: left;
    width: 50%;
    margin-top: 0%;
}

.headerright{
    float: right;
    width: 50%;
    margin-top: 2%;    
}

#title1{
    float: left;
    margin-left: 8%;
    text-align: left ;
    color:rgb(236, 22, 22);  
    height:100%
}
#title{
    text-align: center ;
    color:white;  
    height:100%;
}

#createacct{
    float: right;
    margin-left: 0%;
    width: 150px;
    margin-top: 0px;
    
}

i{
    color:#c2c2c2;
}
.smalltxt{
    width: 200px;
    border-radius: 5px;
}

.smallbtn{
    width: 100px;
    margin-right: 200px;
}


.sidebar{
    float: left;
    margin-right:4px;
    font-size: 16px;
}

[count]{
    position: relative;
}

[count]:after{
    content:attr(count);
    position: relative;
    background: red;
    color:white;
    border-radius: 50%;
    padding: 0.3em;
    right:-2px;
    top:-5px;
    font-size: 10px;

}
.middlesection{
    margin-left:18%; 
    margin-top:2px; 
    background-color:#c2c2c2; 
    padding:20px; 
    border-radius:5px;
    height: auto;
    min-height: 70%;
}
 
.middlesection1{
    margin:15%; 
    margin-top:2px; 
    background-color:#c2c2c2; 
    padding:20px; 
    border-radius:5px;
    height: auto;
    min-height: 70%;
}

.middlesection2{
    display: inline-block;
    margin:7%; 
    margin-top:2px; 
    background-color:#c2c2c2; 
    padding:20px; 
    border-radius:5px;
    height: 480px;
    min-heigt: 70%;
}

#middlesectioncontent{
    padding: 2%;
}

.redflagnums{
    background-color: white;
    border-radius: 10px;
    margin:0px;
    padding: 2%
}
input{
    width:500px;
    height:35px;
    border-radius: 5px;
}

textarea{
    width:500px;
    height:45px;
    border-radius: 5px;
}

button{
    color: white;
    background-color: green;
    width: 300px;
    height:35px;
}

.statusbtn{
    border: none;
    margin: 5px;
    width: 150px;
    border-radius: 10px;
}

#delbtn{
    margin:10px;
    width: 300px;
    border-radius: 10px;
    background-color: red;
    color:white;

}

.radiobtn{
    height:20px;
    width: 20px;
}

#about{
    float: left;
    width: 40%;
    height: 100%;
    margin-top: 10%;
    color: #2c2c2c;
    font-size: 20px;
    line-height: 40px;
}

#loginsection{
    float: right;
    width: 40%;
    height: 100%;
    margin-left: 10px;
    text-align:center;
    margin-left: 20px;
}
.divider{
    position:absolute;
    left:50%;
    top:30%;
    bottom:30%;
    margin-left: 10px;
    margin-right: 10px;
    border-left:1px solid white;
}